.container
  .show-title
    %h2= @task.title
  .dropdown-zero
    .dropdown-one
      = image_tag 'Shape.png', class: 'dropbtn-shape'
      .dropdown-two.mini
        = link_to '編集する', edit_article_task_path(@article.id, @task.id)
        = link_to '消去する', article_task_path(@article.id, @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
 
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  .article
    .article_content
      = @task.content
    
    .article_detail
      = image_tag 'Oval.png'
  %h2 Comment
  - @comments.each do |comment|
    .task_comment
      = comment.content
  .new-card
    = link_to new_article_task_comment_path(@task.article, @task) do
      %p + Add new comment
     
  

  