.container
  .show-title
    %h2=  @article.title
  - @tasks.each do |task|
    .article
      - if task.eyecatch.attached?
        .article_image
          = image_tag task.eyecatch
      = link_to article_task_path(@article.id, task.id) do
        .article-title
          = task.title
        .article_content
          = task.content
      .article_detail
        = image_tag 'Oval.png'
       
  
  .new-card
    = link_to new_article_task_path(@article.id) do
      %p + Add new card
        
    

  
        
  